
.admin__container {
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 60%;
  left: 50%;
  display: flex;
  transform: translate(-50%, -50%);
  background: none;
  text-align: center;
  border-radius: 10px;
}

.box__header {
  border-radius: 1rem;
  border: solid;
  width: 20rem;
  display: inline-block;
  margin: 4rem;
  height: 1.8rem;
}

.box__info {
  width: 30rem;
  display: inline-block;
}

.box__input {
  border-radius: 1rem;
  border: solid orange;
  background-color: white;
  height: 1.8rem;
  width: 27rem;
}


.box_footer_up {
  display: block;
}

.box__footer {
  display: flex;
  justify-content: center;
}

.box_footer_down {
  margin: 2rem;
  display: block;
}

.box_footer_checkbox {
  display: flex;
  align-items: center;
}


.box_footer_form {
  border-radius: 1rem;
  border: solid orange;
  background-color: white;
  height: 1.8rem;
  width: 15rem;
  margin: 0.5rem;
}


.button__admin {
  margin-bottom: -1rem;
  border-radius: 0.5rem;
  background-color: orange;
  border-color: orange;
  width: 8rem;
  height: 2rem;
}
