body {
  background-color: var(--third-color);
}

.table {

  border-collapse: collapse;
  margin: 3rem auto;
  font-size: 1rem;
  min-width: 400px;
  border-radius: 0.6rem;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  &__header {
    background-color: var(--secondary-color);
    color: white;
  }

  &__body {
    background: white;
  }

  &__info {
    font-weight: 500;
    border-bottom: thin solid var(--third-color);
    padding: 1rem 2rem;

    &--bold {
      font-weight: bolder;
      text-align: initial;
    }

    &--progress {
      display: flex;
      gap: 1rem;
      flex-direction: column;
    }

    &--link {
      display: flex;
    }
  }

  &__icon {
    color: var(--third-color);
  }
}

