.nav-main{
&__list {
  display: flex;
  gap: 2rem;
}

&__link {
  text-decoration: none;
  color: var(--fourth-color);
  padding: 0.3rem 0.7rem;
  border: var(--secondary-color) 2px solid;
  border-radius: 1rem;

}

&__link:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}
}
