.progress {
  background-color: #ffe7d6;
  border-radius: 0.3rem;
  height: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;

}

.progress__done {
  text-align: center;
  opacity: 1;
  background-color: #ffb76f;
  border-radius: 0.3rem;
}